* {
    background-color: white;

}

#main {
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    margin: auto;
}

#logo {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f5ffff;
    font-family: futura-pt, sans-serif;
    cursor: pointer;



}

.logoline {
    /* border-left: 1px solid black !important; */
    padding: 2px;
    padding-left: 10px;
    cursor: pointer;
    /* background-color: azure; */


}

#header {
    width: auto;
    height: 30px;
    /* margin: 2px; */
    /* border: 2px solid rgb(5, 3, 3); */
    /* background-color: #f5ffff; */
}

#navbar {
    width: auto;
    height: auto;
    border: 2px solid yellowgreen;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-around;

}

#navsection {
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    float: right;
    border: 2px solid red;

}


#navsection>img {
    background-color: rgb(24, 24, 24);
}

#navcat {
    display: flex;
    width: 30%;
    align-items: center;
}

#gender {
    /* border: 2px solid red; */
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: transparent; */
    background-color: rgb(24, 24, 24);
}

#navbarbox {
    border: 2px solid white;
    display: flex;
    width: 25%;
}


#category {
    /* border: 5px solid orange; */
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(80, 79, 79);


}

.categorydiv {
    /* border: 2px solid red; */
    cursor: pointer;
    width: auto;
    font-size: large;
    align-content: center;
    background-color: rgb(80, 79, 79);
    color: white;
    padding: 10px;


}

.categorydiv:hover {
    background-color: rgb(221, 218, 218);
    color: black;
}

.navImg {
    width: 50px;
    height: 25px;
    background-color: rgb(80, 79, 79);
}

#logoImg {
    margin: 21px 0 0 0;
    /* width: 10px; */
    background-color: transparent;
    color: white;
}

.search-container {
    margin: 21px 0 0 0;
    background-color: rgb(24, 24, 24);
}

.video-container {
    position: relative;
    width: 40%;
    /* Set the width ratio here */
    max-width: 400px;
    margin: 10px auto;
}

.video-container video {
    width: 100%;
    height: auto;
}



#catwithimg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    text-align: center;
    padding: 50px;
}

.catwithimgdiv>img {
    width: 100%;

}

#offsection {
    background-color: #CCFF00;
    /* Background color for the div */
    padding: 10px;

}

#offsection h2,
#offsection h3,
#offsection p {
    background-color: #CCFF00;
    /* Background color for the text */
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#moment {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px 0 20px 0;
    /* border: 2px solid red; */
}

.moment {
    cursor: pointer;
}

.momentimg {
    width: 450px;
}

.momenttext {
    text-align: center;
}

.momenttext h2,
.momenttext p {
    text-align: center;
}

.momenttext button {
    padding: 3px 25px 3px 25px;
    text-align: center;
    margin: auto;
    display: inline-block;
    border: 3px solid black;
    cursor: pointer;
}

.momenttext button:hover {
    /* color: white; */
    background-color: black;
}

.momenttext button:hover h2 {
    color: white;
    background-color: #000000;
}

.trend_brand_logo>img {
    width: 80%;
}

#trend_brand_logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px;

}

.method{
    display: flex;
    justify-content: center;

}

#socail{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
    /* margin: 20px 0 20px 0; */
    border-right: 1px solid rgb(133, 133, 133);
}
#payment{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
    /* margin: 20px 0 20px 0; */
    padding-left: 10px;
    border-left: 1px solid rgb(133, 133, 133);
}

#payment > img{
    width: 40px;
    margin: 10px;
}

.fa {
    /* padding: 20px; */
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-self: center;
    margin: 5px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  .fa-snapchat{
    color: #ffff00;
  }

  .fa-instagram{
    color: rgb(209, 49, 76);
  }

  .fa-facebook{
    color: blue;
  }
  
  
 /* Footer Styles */

 

.footer{
    
    /* border: 2px solid red; */
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: 5vh;
    background-color:#ece7e7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.container{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ece7e7;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-col{
    /* width: 25%; */
    background-color: #ece7e7;
    font-size: 13px;
    /* padding: 10px; */
}

.footer-col h3,
.footer-col li,
.footer-col span h4,
.footer-col span{
    background-color:#ece7e7;
    color: rgb(73, 75, 75);
    /* font-weight: 600; */
    cursor: pointer;
}

.footer-col h3{
    font-weight: 700;
    color: rgb(128, 125, 125);
}

.footer-col li:hover{
    color: rgb(51, 51, 235);
}
  